<h2><%= "#{l(:codebook_form_edit_title)} #{@code_document.id}" %></h2>

  <%= render :partial => "editor", :locals => {:submit_message => l(:codebook_form_edit_submit)} %>

<% content_for :sidebar do %>
  <%= render :partial => 'codebook/menu' %>
<% end %>
