<fieldset>
<legend><%= l(:codebook_plugin_view_preferences) %></legend>

<p>
  <label><%= l(:codebook_show_line_numbers) %></label>
  <%= select_tag('settings[show_line_numbers]',
  options_for_select(CodeDocument::SHOW_LINE_NUMBERS.to_a, @settings['show_line_numbers'])) %>
</p>
</fieldset>

