span.cb_label { font-weight: bold; }
ul#cb_menu { list-style:none; }
li.cb_active{ 
    font-weight: bolder; 
    padding-left: 16px;
    background: url(/plugin_assets/codebook/images/active.png) 3px 1px no-repeat;
    background-position-x:left;
    background-position-y:bottom; 
}
span.cb_remark{color: #23a912;}
