span.cb_label, span.cb_label_left { font-weight: bold; margin: 0 12px;}
span.cb_label_left{margin-left: 0;}
ul#cb_menu { list-style:none; }
li.cb_active{ 
    font-weight: bold; 
    padding-left: 16px;
    background-position-x:left;
    background-position-y:bottom; 
}
span.cb_remark{color: #23a912;}
